/* COMPONENTE EDUCATION */
.about {
  text-align: center;
  font-size: 3em;
}
.about2 {
  text-align: justify;
  display: flex;
  gap: 20px;
  margin: 10px;
  margin-bottom: 67px;
}
.about3 {
  width: 100%;
  margin: 10px;
}
.about4 {
  padding: 15px;
  font-size: 1.8em;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  /* display: grid; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* margin-top: 10%; */
}
.about5 {
  background-image: url("/public/img/unomia3.avif");
  position: absolute;
  background-size: cover;
  margin: 10px;
  margin-top: 28px;
  text-align: justify;
  background-repeat: no-repeat;
  padding: 100px;
  /* display: flex; */
  width: auto;
  /* justify-content: right; */
  /* text-align: center; */
}